.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: #FFFFFF;
}

@media screen and (min-width: 325px) and (max-width: 767px){
  .place__link {
    align-self: center;
  }
}